<div class="profile-box d-flex flex-wrap gap-3 justify-content-between align-items-center">
  <div>
    <h6 class="mb-1">Account overview</h6>
    <p *ngIf="!userId" class="mb-0 text-secondary">Sign in to see your orders, wishlist and saved details.</p>
    <p *ngIf="userId && email" class="mb-0 text-secondary">{{ email }}</p>
    <div *ngIf="userId && !email" class="skeleton skeleton-line mb-0" style="width: 180px"></div>
  </div>
  <button *ngIf="userId" class="edit-link" [routerLink]="'/account/profile/edit'"><i class="pi pi-pencil me-2"></i>Edit profile</button>
  <a *ngIf="!userId" routerLink="/public/auth" class="edit-link"><i class="pi pi-sign-in me-2"></i>Sign in</a>
</div>

<div class="row g-3 mt-1">
  <div class="col-sm-6 col-xl-4" *ngFor="let option of overviewOptions">
    <button type="button" class="tile w-100 text-start" (click)="navigateToSection(option.section)">
      <span class="tile-icon"><i class="pi" [ngClass]="option.icon"></i></span>
      <span class="tile-title">{{ option.title }}</span>
      <span class="tile-text">{{ option.description }}</span>
      <i class="pi pi-arrow-right tile-arrow"></i>
    </button>
  </div>
</div>
