<div class="dashboard-container">
  <!-- Info Cards Section -->
  <div class="card-container">
    <div class="card blue-card">
      <h3>Products</h3>
      <div class="card-content d-flex align-items-center justify-content-between mb-2">
        <i class="pi pi-shopping-cart"></i>
        <h4 class="mb-0">{{ dashboardData.products.total }}</h4>
      </div>
      <div class="bottom-content d-flex align-items-center justify-content-between">
        <small>In Stock</small>
        <small>{{ dashboardData.products.instock }}</small>
      </div>
      <div class="bottom-content d-flex align-items-center justify-content-between">
        <small>Low Stock</small>
        <small>{{ dashboardData.products.lowstock }}</small>
      </div>
      <div class="bottom-content d-flex align-items-center justify-content-between">
        <small>Out of Stock</small>
        <small>{{ dashboardData.products.outOfStock }}</small>
      </div>
    </div>    
    
    <div class="card green-card">
      <h3>Categories</h3>
      <div class="card-content d-flex align-items-center justify-content-between mb-2">
        <i class="pi pi-tag"></i>
        <h4 class="mb-0">{{ dashboardData.categories.total }}</h4>
      </div>
      <div class="bottom-content d-flex align-items-center justify-content-between">
        <small>Active</small>
        <small>{{ dashboardData.categories.active }}</small>
      </div>
      <div class="bottom-content d-flex align-items-center justify-content-between">
        <small>Inactive</small>
        <small>{{ dashboardData.categories.inactive }}</small>
      </div>
    </div>
    
    <div class="card yellow-card">
      <h3>Orders</h3>
      <div class="card-content d-flex align-items-center justify-content-between mb-2">
        <i class="pi pi-wallet"></i>
        <h4 class="mb-0">{{ dashboardData.orders.total }}</h4>
      </div>
      <div class="bottom-content d-flex align-items-center justify-content-between">
        <small>Pending</small>
        <small>{{ dashboardData.orders.pending }}</small>
      </div>
      <div class="bottom-content d-flex align-items-center justify-content-between">
        <small>Completed</small>
        <small>{{ dashboardData.orders.completed }}</small>
      </div>
    </div>
    
    <div class="card red-card">
      <h3>Users</h3>
      <div class="card-content d-flex align-items-center justify-content-between mb-2">
        <i class="pi pi-chart-line"></i>
        <h4 class="mb-0">{{ dashboardData.users.total }}</h4>
      </div>
      <div class="bottom-content d-flex align-items-center justify-content-between">
        <small>Active</small>
        <small>{{ dashboardData.users.active }}</small>
      </div>
      <div class="bottom-content d-flex align-items-center justify-content-between">
        <small>Inactive</small>
        <small>{{ dashboardData.users.inactive }}</small>
      </div>
    </div>
    

  </div>
  <!-- Charts Section -->
  <!-- <div class="chart-container">
    <div class="chart-card">
      <p-chart
        type="line"
        [data]="lineChartData"
        [options]="lineChartOptions"
      ></p-chart>
    </div>
    <div class="chart-card">
      <p-chart type="pie" [data]="pieChartData"></p-chart>
    </div>
  </div> -->
</div>
