.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.product-details-div {
    padding: 5rem 10rem;
    background-color: #eeeeeeb9;
}

.container-fluid {
    width: auto;
}

.product-image-container {
    border-top: 1px solid #992603;
    border-left: 1px solid #992603;
    border-bottom: 1px solid #992603;
}

.product-bg {
    width: 350px;
    height: 100%;
    background: linear-gradient(90deg, rgba(198, 53, 67, 1) 0%, rgba(154, 38, 2, 1) 100%);

    .first-letter,
    .last-letter {
        color: #992603;
        font-family: "Homemade Apple", serif;
    }

    .dope-text {
        font-family: "Homemade Apple", serif;
        font-size: 6rem;
        transform: rotate(270deg);
        margin-right: 6rem;
        color: #ffffff;
    }

}

.product-bg img {
    /* top: 150px; */
    left: 170px;
    z-index: 1;
}

.product-details {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #992603;
    border-right: 1px solid #992603;
    border-bottom: 1px solid #992603;

    h6 {
        color: #5d5d5d;
    }

    .discount-percentage {
        font-size: 14px;
        width: 45px;
    }

    .border-bottom {
        border-bottom: 1px solid #992603 !important;
    }
}

.price {
    color: #992603;
}

.price-info {
    font-size: 14px;
}

.stock-label {
    font-size: 0.9rem;
    padding: 0 10px;
}

.bg-green {
    background-color: #28a745;
}

.bg-yellow {
    background-color: #ffc107;
}

.bg-red {
    background-color: #dc3545;
}

.description {
    font-size: 14px;
    line-height: 1.5;
}

.description-icon {
    font-size: 16px;
    color: #992603;
}

.add-to-cart {
    background-color: #992603;
    color: #fff;
    border: 1px solid #992603;
    padding: 3px 10px;
    width: 168px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #fff;
    color: #992603;
}

.add-to-cart .icon-btn {
    background: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    padding-top: 2px;
}

.add-to-cart .icon-btn:hover {
    color: inherit;
}